# temoporary folders
IGNORED/
note.md

# editor and workspace files
*.sublime-workspace
*.sublime-project
/.vscode
settings.json
*.code-workspace
/.idea

# node.js folders and files
node_modules/

# python files
**/__pycache__
*.pyc
*.pyo

# poetry and environment files
/.venv
*.lock
**/.env
.env_files/

# dummy email accounts
dummy-accounts*

# large zip files
**.zip
