@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --bg-dark: hsl(200deg, 20%, 10%);
    --bg-light: hsl(150, 20%, 80%);
    --text-dark: hsl(200deg, 40%, 20%);
    --text-light: hsl(150, 40%, 90%);
    --accent-blue: hsl(215, 70%, 50%);
    --max-w: 1000px;
}

/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Roboto";
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2 {
    font-family: "Roboto serif";
}

img,
picture {
    display: block;
}

/* utility */
.dark-heading {
    font-family: "Roboto";
    color: hsl(200deg, 40%, 20%);
}

/* header */
header {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 1rem 10rem 5rem 10rem;
    line-height: 1.5;
}

.hero-section {
    max-width: var(--max-w);
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    max-width: var(--max-w);
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link:hover {
    cursor: pointer;
    box-shadow: inset 0px -5px 0px var(--accent-blue);
}

.container button {
    color: var(--text-light);
    background-color: var(--accent-blue);
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    margin: 30px 0;
    position: relative;
    cursor: pointer;
}

.container button:hover {
    transform: scale(0.9);
    background-color: var(--accent-blue);
}

#hero-image {
    object-fit: cover;
    height: 300px;
    width: 600px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#first-section {
    background-color: var(--bg-light);
    color: var(--text-dark);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
}

#first-section > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.box-container {
    display: flex;
    gap: 40px;
}
.preview-box {
    text-align: center;
    border-radius: 1rem;
    width: 200px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

#first-section img {
    cursor: pointer;
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 10px;
    filter: saturate(10%);
    transition: transform 0.5s, filter 0.5s;
    
}

#first-section .preview-box:hover img {
    transform: scale(1.05);
    filter: saturate(100%);
}
