<%- include("partials/header.ejs") %>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label class="form-label" for="titleInput">Title</label>
        <input
            class="form-control"
            id="titleInput"
            type="text"
            name="titleInput"
        />
        <label class="form-label" for="postInput">Post</label>
        <textarea
            class="form-control"
            name="postInput"
            id="postInput"
            cols="30"
            rows="10"
        ></textarea>
        <label class="form-label" for="author">Author</label>
        <input
            class="form-control"
            id="author"
            type="text"
            name="author"
        />
    </div>
        <button class="btn btn-primary" type="submit" name="publishButton">
            Publish
        </button>
</form>

<%- include("partials/footer.ejs") %>
