@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

main {
    font-family: "Inconsolata";
}

flex-container {
    display: flex;
}

justify-center {
    justify-content: center;
}

items-center {
    align-items: center;
}